    <p class="searched-result__user__image"><%= image_tag user.image_url %></p>
    <p class="text-center"><%= user.name %></p>
    <p><% if current_user.friend_requests_sent_to?(user) %>
        <span class="label label-info">Request Sent</span>
      <% elsif current_user.friends_of?(user) %>
        <span class="label label-success">Friends</span>
      <% else %>
        <%= link_to "Add friend", add_friend_user_path(user), method: :post, remote: true, class: "btn btn-primary btn-xs" %>
      <% end %>
    </p>
