<div class="row">
  <div class="center">
    <div class="col-sm-12 col-md-12 colmd-offset-1">
      <h3 class="text-center">Welcome To Location Sharing App</h3>
      <p class="text-center text-muted">Share your locations with friends.</p>
    </div>
  </div>
</div>