.marker {
  width: 20px;
  height: 20px;
  border: 1px solid #800000;
  border-radius: 10px;
  background-color: #800000;
  opacity: 0.8;
}

.location-text {
  text-decoration: none;
  color: white;
  font-size: 11pt;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
}


