.alert-notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-error, #error_explanation {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.sign-in-container, .sign-up-container {
  margin: 0 auto;
  width: 500px;
}

.search-form {
  margin-top: 13px;
}

.searched-result {

  &__user {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    padding: 20px;

    &__image {
      padding: 20px;

      img {
         width: 100%;
      }
    }
  }
}

.friend-requests {
  margin-top:  13px;
  margin-right: 17px;

  &__count {
    color: #fff;
    background-color: brown;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    text-align: center;
  }

  &__count:hover {
    color: #fff;
  }
}

.friend-list {
  border-left: 2px solid #ccc;
  padding-left: 10px;

  &__header {
    font-size: 18px;
    margin-bottom: 30px;
  }

  &__profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    padding: 20px;

    &__image {
      padding: 20px;

      img {
         width: 100%;
      }
    }
  }
}